services:
  - type: web
    name: agrotrust-backend
    plan: free
    env: python
    buildCommand: ./build.sh
    startCommand: gunicorn -w 4 -k uvicorn.workers.UvicornWorker fastapi_app.main:app
    envVars:
      - key: SUPABASE_JWT_SECRET
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: PYTHON_VERSION
        value: 3.10.0
